* {
    padding: 0;
    margin: 0;
}

td {
    height: 700px;
    /* border-right: 1px solid #000; */
    margin-right: 50px;
}

dd {
    margin-left: 40px;
}


.resume {
    height: 850px;
    width: 900px;
    /* background-color: #cdcdcd5a; */
    border-radius: 10px;
    background-image: url("../img/简历背景.png");
    background-repeat: no-repeat;
    background-size: 900px 850px;
}

.tooltip {
    text-decoration: dotted;
}

.tooltip-text {
    opacity: 0;
}

h2 {
    padding-top: 20px;
    line-height: 2;
}

footer{
    padding: 1rem;
    background-color: aliceblue;
}

footer h5{
    padding-left: 20px;
}

footer li{
    padding-left: 20px;
    font-size: small;
    color: rgba(0,0,0,0.8);
}