// 定义变量
$bg-color-1: #f5f5f5;
$bg-color-2: #e0e0e0;

// 设置body背景颜色
body {
  background-color: $bg-color-2;
  
  &.class-name {
    background-color: $bg-color-2;
  }
}

.box {
  &.box-col {
    display: flex;
    flex-direction: column;
  }

&.box-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
  }
}

.item {
  &.i01{
    margin-bottom: 70px;
  }
  &.i02{
    margin-bottom: 150px;
  }
}

img {
  // 开始页头像
  &.photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #f5f5f5;
    margin-left: 268px;
  }

  //开始页链接
  &.gc-link {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #f5f5f5;
    background-color: #cdcdcd;
    margin-right: 20px;
  }
}

button {
  // 开始页按钮
  &.to-begin{
    width: 100px;
    height: 50px;
    margin-left: 268px;
    border: 2px solid white;
    border-radius: 20px;
  }
}
