// index
.bg-img {
  background-image: url('../img/preview.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.box {
  &.box-col {
    display: flex;
    flex-direction: column;
  }

&.box-row {
    display: flex;
    flex-direction: row;
  }
}

//开始页各项目
.item {
  &.i01{
    margin-bottom: 70px;
  }
  &.i02{
    margin-bottom: 120px;
  }
  &.i03{
    justify-content: center;
    align-items: start;
  }
}

//状态栏
.status {
  // display: none;
  width: 400px;
  height: 100px;
  background-color: #e6f4ff;
  border-radius: 50px;

  // img{

  // }
}

// 导航栏
.mynav {
  ul {
    padding-top: 10px;
    height: 60px;
    list-style-type: none;
    background-color: #1677ff;
    border-radius: 10px;
    opacity: 0.8;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

li {
    float: left;
    margin-right: 10px;
}

li a {
    width: 80px;
    display: block;
    color: white;
    text-decoration:none;
    padding-top: 10px;
    border-radius: 10px;
    text-align: center;
}

li a:hover:not(.active) {
    background-color:#fff;
    color: #1E90FF;
}

li a.active {
    color: gray;
    background-color: blue;
}
}

img {
  //导航栏LOGO
  &.nav-logo {
    width: 30px;
    margin-right: 10px;
  }
  // 开始页头像
  &.photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #f5f5f5;
    margin-left: 268px;
  }

  //开始页链接
  &.gc-link {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #f5f5f5;
    background-color: #cdcdcd;
    margin-right: 20px;
  }

  //简介头像
  &.photo01 {
      width: 133px;
      height: 200px;
      margin-top: 10px;
      margin-bottom: 50px;
  }

  //笔记导航
  &.nav-title{
    float: left;
    width: 30px;
  }
}

button {
  // 开始页按钮
  background-color: #fff;
  &.to-begin{
    width: 150px;
    height: 50px;
    margin-left: 243px;
    border: 2px solid white;
    border-radius: 20px;

    a {
      text-decoration: none;
      display: inline-block;
      position: relative;
      transition: 1s;
      &::after{
        color: #1E90FF;
        font-weight: 600;
        content: '»';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 1s;
    }
    }
    
    &:hover {
      a{
        padding-right: 25px;
        &::after {
          opacity: 1;
          right: 0;
        }
      }
    }
  }
}

// index01
//简介左右部分
.left-td {
  float: left;
  display: inline;
}

.right-td {
  color: #000;
}

// index02
// 笔记导航栏
.notenav {
  position: fixed;
  overflow: hidden;
  background-color: #fff;
  width: 200px;
  height: 500px;
  border: 1px solid #000;
  border-radius: 10px;

  button {
    display: block;
    width: 60%;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 35px;
    border-radius: 20px;
    font-weight: 600;
    text-align: center;
    background-color: #fff;
    border: 0;
    transition: linear 0.3s;

    &:hover {
      background-color: #bae0ff;
      width: 65%;
      height: 35px;
      margin-left: 35px;
    }
  }

  div {
    padding-left: 10px;
    padding-top: 10px;
    font-weight: 600;
    text-align: center;
  }
}

.note-container {
  overflow: auto;
  background-color: yellowgreen; 
  width: 800px;
  height: 1000px;
  margin-left: 250px;
  border: 1px solid #000;
  border-radius: 10px;

  font-family: Arial, "Microsoft YaHei";
  line-height: 1.5;

  &.font-style {
    padding-left: 20px;
  }
}

//index03
.game {
  height: 1000px;
  justify-content: center;
  align-items: center;
}

#time {
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: 700px;
  padding: 10px 0;
  width: 120px;
  border: 2px solid #cdcdcd;
  border-radius: 20px;
  text-align: center;
  background-color: #434343;
  color: #fff;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr); //列三等分
  grid-template-rows: repeat(3, 1fr); //行三等分
  gap: 5px;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border: 3px solid #cdcdcd;
  padding: 5px;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  background-color: #e89f21;
  cursor: pointer;
}

#result {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
}