// index
.box {
  &.box-col {
    display: flex;
    flex-direction: column;
  }

&.box-row {
    display: flex;
    flex-direction: row;
  }
}

//开始页各项目
.item {
  &.i01{
    margin-bottom: 70px;
  }
  &.i02{
    margin-bottom: 150px;
  }
  &.i03{
    justify-content: center;
    align-items: start;
  }
}

// 导航栏
.mynav {
  ul {
    padding-top: 10px;
    height: 40px;
    list-style-type: none;
    background-color: #1E90FF;
    overflow: hidden;
}

li {
    float: left;
    margin-right: 10px;
    text-align: justify;
}

li a {
    display: block;
    color: white;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: gray;
    background-color: blue;
}
}

img {
  // 开始页头像
  &.photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #f5f5f5;
    margin-left: 268px;
  }

  //开始页链接
  &.gc-link {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #f5f5f5;
    background-color: #cdcdcd;
    margin-right: 20px;
  }

  //简介头像
  &.photo01 {
      width: 133px;
      height: 200px;
      margin-top: 10px;
      margin-bottom: 50px;
  }
}

button {
  // 开始页按钮
  &.to-begin{
    width: 100px;
    height: 50px;
    margin-left: 268px;
    border: 2px solid white;
    border-radius: 20px;
  }
}

// index01
//简介左右部分
.left-td {
  float: left;
  display: inline;
}

.right-td {
  color: #000;
}

// index02
// 笔记导航栏
.notenav {
  position: fixed;
  overflow: hidden;
  background-color: #fff;
  width: 200px;
  height: 500px;
  border: 1px solid #000;
  border-radius: 10px;

  button {
    display: block;
    width: 80%;
    height: 50px;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 20px;
    font-weight: 600;
    text-align: center;
    background-color: #fff;
    border: 0;
    transition: linear 0.5s;

    &:hover {
      background-color: #1E90FF;
      width: 90%;
      height: 70px;
    }
  }
}

.note-container {
  overflow: auto;
  background-color: yellowgreen; 
  width: 600px;
  height: 1000px;
  margin-left: 300px;
  border: 1px solid #000;
  border-radius: 10px;
}